
<!DOCTYPE html>
<html>
    <head>
        <meta name="google" content="notranslate">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NSSRT</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/img/NRT.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-PlVj1bphe5kxboINdAV+mV8nbCgxJhMCG+XdEZ5L1QjoxYZ/8ilZLr9nA8BJQqWfzIIgMPlcDlx5kmxQwI4hHw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

       
          
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>  

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/assets/css/styles.css" rel="stylesheet" />
        <style>
            @keyframes fadeInUp {
                0%  {
                opacity: 0;
                transform: translate3d(0, 100%, 0);
                    }
                to {
                opacity: 1;
                transform: translateZ(0);
                    }
            }
 
            .test_obj {
                position: relative;
                animation: fadeInUp 1s;
             }
             .test_obj2 {
                position: relative;
                animation: fadeInUp 2s;
             }
        </style> 
    </head>
    <body>
        
        {% block nav %}
        {% endblock%}
        <!-- Masthead-->

        {% block popup %} 
        {% endblock%}

        <header id="main_head" class="masthead" style="background-image: url('/assets/img/bg-masthead.jpg')">
         <div>
            {% block pira %}
            {% endblock%} 
            <div id="main_display" class="container position-relative">
                <div class="row justify-content-center">
                    <div id="col_text" class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            {% block contenttext %}
                            {% endblock %}
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <!-- Icons Grid-->

        {% block exback %} <!-- back표현-->
        {% endblock%}

        {% block exfront %} <!-- front표현-->
        {% endblock%}

       

        <!-- Image Showcases-->
        {% block bottom %}
        {% endblock %}
