<html>
    <head>        
    </head>
    <body>  
    <h1>설문조사</h1>

    <nav>
    <ul>
        <li><a href='/admin/'>Admin</a></li>
        <li><a href='/polls/'>Polls</a></li>
        <li><a href='/myml/'>myML</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
    </nav>
    <h3>질문</h3>
        <div>
            <ul>
{% for quest in quests %}
                <li>{{ quest.qtxt }}
                    
                </li>
{% endfor %}    
            </ul>
        </div>
    </body>
</html>
